body {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#header {
    background: linear-gradient(to bottom right, pink, greenyellow);

    #icon {
        width: 3.5em;
    }
}

main {
    .icons {
        width: 6.5em;
    }

    #abilities {
        background: khaki;
    }

    #faq {
        background: lightblue;
    }

    #support {
        background: pink;
    }
}